/* Colours: 
            BLACK: 
            WHITE: 
            GREY: #353535
            PURPLE: 
            ORANGE: 
*/

body
{
    background-color: #353535;
    background-image: url("../img/prism.png");
}