/* Colours: 
            GREY: #353535
            PURPLE: #8600b3
            ORANGE: #FF6600
*/

body
{
    margin: 0;
    color: white;
    background-color: black;    
    background-image: url("../img/prism.png");
    font-family: 'arial black';
}

.nav-bar
{
    width: 100%;
    height: 50px;
    background-color: black;
}

.nav-bar img
{
    float: left;
    width: 75px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

button
{
    width: 100px;
    height: 50px;
    background-color: black;
    color: #8600b3;
    font-size: large;
    text-decoration: solid;
    font-family: 'Arial Black';
    outline: none;
    border: none;
}

button:hover
{
    background-color: #8600b3;
    color: white;
}

.main
{
    width: 100%;
}

.main-left
{
    float: left;
    width: 50%;
}

.main-left img
{
    float: left;
    height:60%;
    width:42%;
    margin-left: 20%;
    margin-top: 15%;
}

.main-right
{
    float: left;
    text-align: left;
    margin-left: 10%;
    margin-top: 10%;
}

.main-right h1
{
    font-size: 60px;
    color: #8600b3;
}

.main-right h2
{
    font-size: 40px;
    color: #8600b3;
}